---
import "../layouts/layout.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coding test</title>
  </head>
  <body>
    <main></main>
  </body>
</html>

<style></style>
<script></script>
