---
import "../layouts/layout.css";
import Ingredients from "../components/Ingredients.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coding test</title>
  </head>
  <body>
    <header></header>
    <main>
      <Ingredients />
    </main>
  </body>
</html>

<style></style>
<script></script>
