---
---

<div id="organic">
  <img src="../../images/organic.svg" alt="organic" />
  <p>100% ORGANIC</p>
</div>

<style>
  img {
    max-width: 50px;
  }

  #organic {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 0.3em;
  }

  p {
    font-weight: 500;
    color: var(--border);
  }
</style>
