---
---

<div>
  <img src="../../images/handcreme.jpg" alt="Hand creme" />
  <h5>HAND POMADE / POMMADE MAINS</h5>
  <h5 id="thin">NOURISHMENT FOR YOUR HANDS</h5>
  <h4>159,00 KR</h4>
</div>

<style>
  img {
    max-width: 280px;
  }

  h5 {
    margin-top: 5px;
  }
  #thin {
    font-weight: 300;
  }

  h4 {
    margin-top: 20px;
  }

  /* media querys */
  @media (min-width: 785px) {
    article h1 {
      padding: 80px;
    }

    img {
      max-width: 320px;
    }
  }

  @media (min-width: 1200px) {
    article h1 {
      padding: 100px;
    }

    img {
      max-width: 500px;
    }
  }
</style>
