* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Farver defineres her */
:root {
  --purelyBlue: #2b73ca;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-transform: uppercase;
  color: var(--purelyWhite);
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: var(--darkBrown);
}

h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: var(--darkBrown);
}

h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

